:root {
  --headers-family: "Open Sans", sans-serif;
  --main-family: "Nunito Sans", sans-serif;

  --main-bg-color: #19191b;
  --main-color: #cbc8c8;
  --secondary-color: #5454d4;
  --white-color: #fff;

  --main-spacing: -0.66px;

  --main-size: 20px;
}
